body {
    background-color: rgb(196, 215, 198);/* default light theme and font size */
    color: black;
    font-family: 'Times New Roman';
    font-size: 18px;
}

body.darkTheme{
    background-color: rgb(70, 117, 73);
    color: white;
}

.darkTheme{
    color-scheme: dark;
}

h1 {
    text-align: center;
    font-size: 50px;
    padding: 10px;
}

input {
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    border-radius: 4px;
    border: 2px solid rgb(179, 179, 179);
    font-size: 15px;
    margin-bottom:15px;
    margin-top: 1px;
}

input:focus {
    outline: none;
    border: 2px solid rgb(70, 117, 73);
}

label {
    padding: 5px;
}

form {
    text-align: center;
}

button {
    text-align: center;
    padding: 5px 24px;
    border-radius: 4px;
    background-color: rgb(70, 117, 73);
    color: white;
}

button.darkTheme {
    background-color: rgb(196, 215, 198);
    color: black;
}

button.smallButton {
    padding: 1px 5px;
    font-size: 8px;

}

p.smallText{
    font-size: 8px;
}

button:disabled{
    background-color: rgb(134, 168, 136) ;
    color: rgb(154, 179, 156);
}

button.darkTheme:disabled{
    background-color: rgb(2, 8, 2) !important;
    color: rgb(154, 179, 156) !important;
}

button:active{
    border-color: rgb(168, 168, 168);
}

#loginBox{
    width: 300px;
    height: 425px;
    padding: 20px;
    background-color: white;
    border: 2px solid #555;
    border-radius: 6px;
    margin-top: 60px;
    z-index: 0;
}

#loginBox.darkTheme {
    background-color: rgb(28, 70, 31);
    border: 2px solid #efefef;
}

button.clickableText{
    background:none;
    border:none;
    color: black;
}

button.clickableText.darkTheme{
    color: white;
}

.custom-select{
    background-color: rgb(70, 117, 73);
    border-color: #555;
    color: white;
}

.custom-select:focus{
    border-color: grey;
    
}

#signUpButton{
    font-size: 12px;
}

nav{
    background-color:rgb(134, 168, 136) ;
    border-top: 2px solid rgb(179, 179, 179);;
    border-bottom: 2px solid rgb(179, 179, 179);;
    margin: 0;
    padding: 0;
}

nav.darkTheme {
    background-color: rgb(35, 69, 37);
}

nav .container-fluid {
    padding-left: 0;
    padding-right: 0;
}

#settingsBar{
    position: sticky;
    right:0;
    width:300px;
    background-color: white ;
    text-align: left;
    padding: 15px;
    z-index: 1;
}

#settingsBar.darkTheme{
    background-color: rgb(28, 70, 31);
}

footer{
    text-align: center;

}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}